<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785184947614-70ii5qm94fe28nmasjc9g864nh25l4m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785184947614-70ii5qm94fe28nmasjc9g864nh25l4m7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785184947614-jvcu7agpj6n6vvr5poal14otu8mjdl61.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjxudoTmfUt2gnYMjje_XhobXWAMgtYyA</string>
	<key>GCM_SENDER_ID</key>
	<string>785184947614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.x-wei.flutter-catalog</string>
	<key>PROJECT_ID</key>
	<string>flutter-catalog</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-catalog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785184947614:ios:e7733ee4559d7b91f3aa8f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-catalog.firebaseio.com</string>
</dict>
</plist>