name: Run Tests

on:
  workflow_dispatch:
  push:
    branches: [ master, main]
  pull_request:
    branches: [ master, main]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Cache Flutter
      uses: actions/cache@v3
      id: flutter-cache
      with:
        key: flutter-${{ runner.os }}-${{ hashFiles('**/pubspec.lock') }}
        restore-keys: |
          flutter-${{ runner.os }}-
        path: ~/.flutter

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        cache: true

    - name: Get dependencies
      run: flutter pub get

    - name: Verify Flutter installation
      run: flutter doctor -v

    - name: Analyze code
      run: flutter analyze

    # - name: Format check
    #   run: dart format --set-exit-if-changed .

    - name: Run unit tests
      run: flutter test
